@CHARSET "ISO-8859-1";

.form-signin {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}

.lbl-success {
	color: #fff;
	border-color: #4cae4c;
}

.registriContainer {
	margin: 0 auto;
	max-width: 600px;
	padding: 15px;
}
}