<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <!-- servlet mapping  -->
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>conceptmaps.controler.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DrawControll</servlet-name>
    <servlet-class>conceptmaps.controler.DrawController</servlet-class>
    <init-param>
    	<param-name>user</param-name>
    	<param-value>hmtri92@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawControll</servlet-name>
    <url-pattern>/DrawControll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ViewDraw</servlet-name>
    <servlet-class>conceptmaps.controler.ViewDrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDraw</servlet-name>
    <url-pattern>/ViewDraw</url-pattern>
  </servlet-mapping>
  
  <!-- end servlet mapping -->
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- start jsp mapping  -->
  
  <servlet>
      <servlet-name>Drawing</servlet-name>
      <jsp-file>/draw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>Drawing</servlet-name>
      <url-pattern>/viewDrawing</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Welcome</servlet-name>
      <jsp-file>/Welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>Welcome</servlet-name>
      <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Login</servlet-name>
      <jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Register</servlet-name>
      <jsp-file>/pages/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>Register</servlet-name>
      <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
</web-app>